<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.mapper.TrainingorderMapper">

    <resultMap id="BaseResultMap" type="com.training.pojo.Trainingorder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="priority" column="priority" jdbcType="INTEGER"/>
            <result property="trainingtype" column="trainingType" jdbcType="INTEGER"/>
            <result property="weight" column="weight" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,priority,
        trainingType,count,remark
    </sql>
</mapper>
